<div class="bg">
  <div class="container">
    <div class="row justify-content-center">
  <p id="notice"><%= notice %></p>
<div class="card bg-light shadow-lg" style="width: auto; margin: 30px">
  <div class="card-header text-white bg-info mb-3" >
    <div style="display: inline-block; margin-top: 10px">
      <h4>Drugs</h4>
    </div>
    <% if current_user.try(:admin) %>
      <span><%= link_to 'New Drug', new_drug_path, class: "btn btn-light float-right mt-2" %></span>
    <% end %>
  </div>
  <div class="card-body">
    <table class="table table-striped table-hover" style="border-color: #000000">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">No. </th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Expiration Date</th>
        <th scope="col"></th>
        <% if current_user.try(:admin) %>
          <th scope="col"></th>
          <th scope="col"></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @drugs.each do |drug| %>
        <tr>
          <th scope="row" class="drugRow"><%= drug.id %></th>
          <td><%= drug.name %></td>
          <td class="quantity"><%= drug.number %></td>
          <td><%= drug.quantity %></td>
          <td><%= drug.price %></td>
          <td><%= drug.desc %></td>
          <td class="expiration"><%= drug.expiration %></td>
          <td><%= link_to 'Show', drug %></td>
          <% if current_user.try(:admin) %>
            <td><%= link_to 'Edit', edit_drug_path(drug) %></td>
            <td><%= link_to 'Destroy', drug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
  </div>
</div>