<!DOCTYPE html>
<html>
  <head>
    <title>Vinssa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div class="grid-container">
      <div class="item2">
        <div id="cart">
          <% if @cart %>
            <%= render @cart %>
          <% end %>
        </div>
        <div class="mt-5">
        <h6><i>Vinssa Pharmacy</i></h6>
        <p>2019</p>
        </div>
      </div>
      <div class="item3"><%= yield %></div>
    </div>
  </body>
</html>
